<header class="header">
  <div class="container">
    <div class="row row__container">
      <div class="col-mg mr-auto">
        <div class="logo">Магазин</div>
      </div>
      <div class="col-mg">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item" *ngFor="let category of pesService.categories">
              <a routerLink='' class="nav__link">{{category}}</a>
            </li>
            <li class="nav__item">
              <a routerLink="/card" class="nav__link">Корзина</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>

