<header class="header mb-3">
  <div class="container">
    <div class="row row__container">
      <div class="col-md-auto mr-auto">
        <div class="logo">Админка</div>
      </div>
      <div class="col-md-auto">
        <nav class="nav">
          <ul class="nav__list" *ngIf="!auth.isAuth">
            <li class="nav__item">
              <a  routerLink="login" routerLinkActive="active" class="nav__link">login</a>
            </li>
          </ul>
          <ul class="nav__list" *ngIf="auth.isAuth">
            <li class="nav__item">
              <a routerLink="orders" routerLinkActive="active"  class="nav__link">orders</a>
            </li>
            <li class="nav__item">
              <a routerLink="edit" routerLinkActive="active"  class="nav__link">edit</a>
            </li>
            <li class="nav__item">
              <a routerLink="dashboard" routerLinkActive="active"  class="nav__link">dashboard</a>
            </li>
            <li class="nav__item">
              <a routerLink="product" routerLinkActive="active"  class="nav__link">add-product</a>
            </li>
            <li class="nav__item">
              <a routerLinkActive="active" href="#" (click)="logout($event)" class="nav__link">logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

