<div style="min-height: calc(100vh - 160px)" class="row align-items-center">
  <div class="col-md-6 offset-md-3">
    <h1 class="mb-3">Добавить</h1>
    <form class="form" [formGroup]="form" (ngSubmit)="addPet()">
      <div class="mb-3">
        <label for="type">Выберете категорию</label>
        <div class="input-group">
          <select class="custom-select" id="type" formControlName="type">
            <option selected>Выберере живность</option>
            <option value="{{category}}" *ngFor="let category of petService.categories">{{category}}</option>
          </select>
        </div>
        <div class="text-danger" *ngIf="form.get('type')?.touched && form.get('type')?.invalid">
          <div *ngIf="form.get('type')?.errors?.required">Это обязательное поле</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="title">Заголовок</label>
        <div class="input-group">
          <input type="title" class="form-control" id="title" formControlName="title">
        </div>
        <div class="text-danger" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
          <div *ngIf="form.get('title')?.errors?.required">Это обязательное поле</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="photo">Фотография</label>
        <div class="input-group">
          <angular-editor class="add-photo" formControlName="photo" [config]="uploadImage"></angular-editor>
        </div>
        <div class="text-danger" *ngIf="form.get('photo')?.touched && form.get('photo')?.invalid">
          <div *ngIf="form.get('photo')?.errors?.required">Это обязательное поле</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="info">Описание</label>
        <div>
          <angular-editor formControlName="info" [config]="editorConfig"></angular-editor>
        </div>
        <div class="text-danger" *ngIf="form.get('info')?.touched && form.get('info')?.invalid">
          <div *ngIf="form.get('info')?.errors?.required">Это обязательное поле</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="price">Цена</label>
        <div class="input-group">
          <input type="price" class="form-control" id="price" formControlName="price">
        </div>
        <div class="text-danger" *ngIf="form.get('price')?.touched && form.get('price')?.invalid">
          <div *ngIf="form.get('price')?.errors?.required">Это обязательное поле</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="form.invalid || submited">Добавить</button>
      <button type="reset" class="btn btn-secondary btn-lg btn-block">Очистить</button>
    </form>

  </div>
</div>
