<div *ngIf="order; else loading">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3>Заказ от {{ order.name }}</h3>
      </div>
      <div class="col-auto">Дата: {{ order.date | date: 'medium' }}</div>
      <div class="col-auto">
        <button
          class="btn btn-light"
          (click)="active = !active"
          [ngClass]="{ btn__rotate: active }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="active">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td width="200px">Телефон</td>
          <td>{{ order.phone }}</td>
        </tr>
        <tr>
          <td>Адрес</td>
          <td>{{ order.addres }}</td>
        </tr>
        <tr>
          <td>Способ оплаты</td>
          <td>{{ order.payment }}</td>
        </tr>
      </tbody>
    </table>

    <h4 class="mb-4">Список животных</h4>
    <table class="table mb-3">
      <thead>
        <tr>
          <td>#</td>
          <td>Категория</td>
          <td>Имя</td>
          <td>Описание</td>
          <td>Цена</td>
          <td>Посмотреть</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of order.order; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ pet.type }}</td>
          <td>{{ pet.title }}</td>
          <td>
            <div [innerHTML]="pet.info"></div>
          </td>
          <td>{{ pet.price }}</td>
          <td>
            <button class="btn btn-link" [routerLink]="['/product', pet.id]">
              Посмотреть звеюшку
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col"></div>
      <div class="col-auto">
        <button class="btn btn-success" (click)="orderDone(order.id)">Заказ выполнен</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>Загрузка</ng-template>
