    <div class="card mt-2 mb-1">
      <div class="card-header">
        <h2 class="h2">  {{pet.title}}</h2>
      </div>
      <div class="card-body">
        <div class="row pet">
          <div class="col-4">
            <div class="pet__photo" [innerHTML]="pet.photo"></div>
          </div>
          <div class="col-8">
            <h4>Цена: {{pet.price}} р.</h4>
            <div class="pet__content" [innerHTML]="pet.info"></div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-secondary btn-lg btn-block" [routerLink]="['/product', pet.id]">Посмотреть зверюшку</button>
        <button class="btn btn-secondary btn-lg btn-block" [routerLink]="['/card']">В корзину</button>
      </div>
    </div>



